
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(31, 30, 30);
}
.quiz-start-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: aliceblue;
}
.quiz-start-heading h2{
  font-family: 'Rubik Scribble';
  font-size: 40px;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
  width: 600px;
  font-family:'Rubik Scribble' ;
  color: aliceblue;
  word-spacing: 4.5px;
  letter-spacing: 2px;
}
.index-count{
  color: sandybrown;
  font-size: 20px;
  font-weight: 800;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.btn{
  padding: 1rem 1.5rem;
}
.btn-primary:hover{
  background-color:rgba(10, 119, 83, 0.607);
}
.btn-primary{
  margin-top: 15px;
  border-radius: 10px;
  background-color: rgb(10, 119, 82);
  outline: none;
  border: none;
  letter-spacing: 4px;
  font-weight: 800;
  transition: all .3s;
  cursor: pointer;
}
.btn-choise{
  display: inline-block;
  background-color: skyblue;
  border-style: none;
  outline: none;
  padding: 1rem 1.5rem;
  width: 180px;
  border-radius: 20px;
  color: aliceblue;
  transition: all .4s;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-choise.active{
 background-color: rgb(164, 164, 22);
 color: black;
 transform: translatex(10px);

}
.btn-choise:hover{
  transform: translatex(10px);
  color: black;
}
.true{
  margin-left: 15px;
display: inline-block;
color: green;
}
.false{
  margin-left: 15px;
display: inline-block;
color: rgba(173, 83, 3, 0.802);
}
.options{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: start;
  gap: 15px;
}

